@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section>
    <meta charset="utf-8" />
    <link href="site.css" rel="stylesheet" />

</section>
<h1 class="text-center">@ViewData["Title"]About Page</h1>
<div class="container-fluid" id="ebackground">
    <div class="rounded" id="esection">
        <div id="eheader" class="text-center">
            <h1>Lane County Mental Health for Youth And Young Adults</h1>
            <h3>About Page</h3>
            <br>
            <br>
            <div class="row text-center">
                <div class="col-sm"><a class="badge badge-dark" href="index.html">Home</a></div>
                <div class="col-sm"><a class="badge badge-dark" href="page2.html">Physical Health</a></div>
                <div class="col-sm"><a class="badge badge-dark" href="page3.html">Mental Health</a></div>
                <div class="col-sm"><a class="badge badge-dark" href="page3.html">Self-Care</a></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div id="esection">
        There is no denying that 2020 continues to be a rough year
        with pan-demic related stresses from loneliness, distance learning, and
        financial uncertainty just to name a few. During these difficult times,
        the availability of mental health re-sources is more vital than ever.
        This website is designed to help connect people with support!
        Create a project that provides mental health and self-care resources for youth and young adults.
    </div>
    <h3>What is Mental Health?</h3>
    blah blah blah blah
    <br>
    <br>
    <br>
    <br>
    <h3>What is Self-Care?</h3>
</div>