@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section>
    <meta charset="utf-8" />
    <link href="site.css" rel="stylesheet" />

</section>
<h1 class="text-center" style="background-color:lightsteelblue;">@ViewData["Title"]About Page</h1>
<div class="container-fluid" id="ebackground">
    <!-- <div class="rounded" id="esection">
         <div id="eheader" class="text-center">
             <h1>Lane County Mental Health for Youth And Young Adults</h1>
             <h3>About Page</h3>
             <br>
             <br>
             <div class="row text-center">
                 <div class="col-sm"><a class="badge badge-dark" href="index.html">Home</a></div>
                 <div class="col-sm"><a class="badge badge-dark" href="page2.html">Physical Health</a></div>
                 <div class="col-sm"><a class="badge badge-dark" href="page3.html">Mental Health</a></div>
                 <div class="col-sm"><a class="badge badge-dark" href="page3.html">Self-Care</a></div>
             </div>
         </div>
     </div>
     <br>
     <br>
     <br>
        -->
    <br />

    <div id="esection" style="text-align:center; background-color:lavenderblush; border-radius:10px; border:double; width:1000px; float:right; position:relative; right:40px;">
        <hr />
        This website was a collaboration of Lane Community College students. Coming together within the venue of CodeOrCreate to put together a website of resources for youth and young adults in these trying times.
        Built from lived experience the creators offer resources such as cognitive improvement, food security, physical wellness, and self-care. It is our hope that our future generations
        experience healing and growth to help them adapt to this ever changing world that teeters on the precipice of catastrophe.
        <hr />
    </div>
   
        <br />
        <br />
        <br />
        <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <article>
        <h3 style="text-align:center;"><u>Definitions</u></h3>
        <h5><em>What is Mental Health?</em></h5>
        Mental health, defined by the World Health Organization, is “a state of well-being in which the individual
        realizes his or her own abilities, can cope with the normal stresses of life,
        can work productively and fruitfully, and is able to make a contribution to his or her community.
        <br>
        <br>
        <br>
        <br>
        <h5><em>What is Self-Care?</em></h5>
        Self-care is any activity that we do deliberately in order to take care of our mental, emotional, and physical health.
        Although it’s a simple concept in theory, it’s something we very often overlook.
        Good self-care is key to improved mood and reduced anxiety. It’s also key to a good relationship with oneself and others.
    </article>
</div>