@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <section>
        <h1 "class=" title">About Us</h1>
    </section>
</div>
<br />
<br />
<section style="width:600px; float:left; position:relative; left:250px; text-align: center;">
    This website was a collaboration of Lane Community College students. Aligning for a weekend within the venue of codeOrCreate.
    We've come together to create a resource for youth and young adults in these challenging times. These resources are supposed to help them
    with food finances mental health and self-care.
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

