@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <section>
        <h1  title" style="background-color:lightsteelblue">Mental Health</h1>
    </section>
</div>
<br />
<h3 style="text-align:center;">Introduction</h3>
<br />
<p>
    This website was created in the spirit of the year 2020. It's been a challenging year with
    with pandemic related stresses from loneliness, distance learning, and
    financial uncertainty. We hope in the excessive duress of these times people turn to
    mental health resources to help them adjust and thrive.
    This website in particular is designed for our future generations. 
    We have created it with the youth and young adults in mind. To connect them with mental
    health and other resources.
</p>
<br />
<br />


<section class="jumbotron">
    <h3 style="text-align:center;">Resources</h3>
    <hr />
    <article style="float:right; position:relative; right:150px;">
        <h5>
            <u>Emergency Services</u>
        </h5>
        <br />
        <ul>
            <li><a href="https://preventionlane.org/suicide-resources-family-youth">Suicide Prevention</a></li>
            <li><a href="https://www.lanecounty.org/government/county_departments/health_and_human_services/lanecare/crisis_resources">Mental Health Emergency</a></li>
            <li><a href="https://www.thechildcenter.org/crisis-response-program/">Crisis Response Services</a></li>
        </ul>
    </article>
    <article style="float:left; position:relative; left:150px">
        <h5><u>Cognitive Improvement</u></h5>
        <br />
        <ul>
            <li><a href="https://www.slmh.org/youth-counseling-services/">Expressive Therapy</a></li>
            <li><a href="https://www.lanecounty.org/cms/One.aspx?portalId=3585881&pageId=4209128">Mental Health Services</a></li>
            <li><a href="https://www.ofsn.org/ofsn-regional-offices-oregon/ofsn-lane-county-oregon/">Peer Support Specialist</a></li>
        </ul>
        <br />
    </article>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>
<br />
<br />
<br />
<h3 style="text-align:center;">Self-Care</h3>
<br />
<hr />
<aside style="float:right; border:dashed; border-width:1px; width:250px; padding: 15px; background-color:lavender;">
    <h5><em>What is Self-Care?</em></h5>

    Self care is any activity that we do to deliberately take care of our mental, emotional, and physical health.
    This could mean:
    <br />
    <ul style="list-style-type:square">
        <li>watching a favorite movie</li>
        <li>going for a run</li>
        <li>eating something delicious</li>
    </ul>
    Self-care is vast and really
    comes down to practicing self-compassion and feeling good.

</aside>
<br />
<h4>Self-Care in Practice:</h4>
<blockquote style="position:relative; left:30px; width:600px;">
    <ul style="list-style-type: square;">
        <li>Health - Good health practices include getting enough sleep, get some movement into your daily life, eat enough and include fruits and vegetables, manage stress.</li>
        <li>Hygiene - Good hygiene reduces the risk of illness and improves how you feel about yourself.</li>
        <li>Community - Friends and/or family contribute to your self of belonging and are an important part of the human experience.</li>
        <li>Fun - Do something you enjoy everyday whether it be playing with an animal reading or watching a tv show.</li>
        <li>Relaxation - Find ways to relax this could be walking in the woods, yoga, meditating or getting a massage.</li>
    </ul>
</blockquote>
<br />
<br />
<br />
<br />
<br />
