@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <section>
        <h1 "class=" title" style="background-color:lightsteelblue">Financial</h1>
    </section>
</div>
<br />
<h5><em>Why are Finances Important?</em></h5>
<br />
        Financially literate young adults stand a far greater chance of leading an abundant life of security from the start.
        Financial education is important for youth because it provides a powerful head-start in life and it's an
        important aspect of growth. When young adults understand the value of money they handle their finances better.
        Understanding budgeting, saving and avoiding unnecessary expenditures will help prevent debted adults.
<br />
<br />
<br />
<hr />

<aside style="float:left; position:relative; left:100px; background-color:lavenderblush; padding:15px;">
    <h3><u>Information</u></h3>
    <ul>
        <li>
            <a href="https://www.investopedia.com/terms/p/personalfinance.asp">Personal Finance Defined</a>
        </li>
        <li>
            <a href="https://www.nerdwallet.com/article/finance/how-to-budget">Creating a Budget</a>
        </li>
        <li>
            <a href="https://www.nerdwallet.com/article/finance/debt-snowball-calculator">Paying off Debt</a>
        </li>
        <li>
            <a href="https://www.daveramsey.com/blog/the-secret-to-saving-money">Saving Money</a>
        </li>
        <li>
            <a href="https://www.apaservices.org/practice/business/finances/future">Planning for the Future</a>
        </li>
    </ul>
</aside>
<aside style="float:right; position:relative; right:100px; background-color:lavenderblush; padding:15px;">
    <h3><u>Local Resources</u></h3>
    <ul>
        <li>
            <a href="https://devnw.org/">Classes and Consultations</a>
        </li>
        <li>
            <a href="https://hulafrog.com/Eugene-OR/subcategory-browse?cat_id=9&subcat_name=FinancialPlanning&cat_name=Family%20Finances&subcat_id=53">Family Finances</a>
        </li>
        <li>
            <a href="https://financialbeginnings.org/">Free Financial Education</a>
        </li>
        <li>
            <a href="https://www.needhelppayingbills.com/html/eugene_rental_assistance.html">Rent Assistance</a>
        </li>
        <li>
            <a href="https://www.lanecounty.org/UserFiles/Servers/Server_3585797/Image/Government/County%20Departments/Health%20and%20Human%20Services/Human%20Services/Emergency%20Services%20Update%20jan%202017v3.pdf">Emergency Assistance</a>
        </li>
    </ul>
</aside>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

