<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../wwroot/css/StyleSheet1" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Mental Health for Lane Students</h1>
        <h3>Something Else</h3>
        <br>
        <br>
    </header>
    <div>
        <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="page2.html">Physical Health</a></li>
            <li><a href="page3.html">Mental Health</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
</body>
</html>