@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your HTML</h1>
    <link href="../wwroot/css/StyleSheet1" rel="stylesheet" />
</div>
<div>
    <header>
        <h1>Lane County Mental Health for Youth</h1>
        <h3>Homepage</h3>
        <br>
        <br>
    </header>
    
    <br>
    <br>
    <br>
    <section>
        There is no denying that 2020 continues to be a rough year
        with pan-demic related stresses from loneliness, distance learning, and
        financial uncertainty just to name a few. During these difficult times,
        the availability of mental health re-sources is more vital than ever.
        This website is designed to help connect people with support!
        Create a project that provides mental health and self-care resources for youth and young adults.
    </section>
    <h3>What is Mental Health?</h3>
    blah blah blah blah
    <h3>What is Self-Care?</h3>




</div>
