@model HomeForum
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="text-align:center; background-color:lightsteelblue;">The World Today</h1>
<br />
<p style="background-color:lavenderblush; text-align:center;">
    Our world is being ravaged by climate change, assalted by a pandemic and overthrown for the sake of social justice.
    Our youth stands as the generation that may know the most turmoil of our lifetimes. The burdens of the world are too
    much to bear on one set of shoulders. However, as each of us are a piece of the world our ability to change it lies
    within our ability to change ourselves. In a time faced with the most trying of circumstances we are also armed
    with a movement of embracing mental health, of knowledge and understanding of the human psyche. To weather the
    changes of the new world we must align ourselves with science, compassion, and personal growth.
</p>
<br />
<br />
<br />
<hr />
<div class="container">
    <h1 style="clear:right; text-align:center;"><u>Resources to Help</u></h1>
    <aside style="float:right; border:dashed; width:200px; border-width:1px; border-radius:20px; padding:10px; background-color:aliceblue;">
        With everything going on today we hope that this form will tailor resources to reflect your specific needs.
    </aside>
    <br />
    <br />

    <div class="jumbotron-fluid">

        <form id="$homeform" asp-controller="Home" asp-action="Generated" method="post">

            <input id="$a1" type="hidden" asp-for="TeenYA" value="" />
            <input id="$a2" type="hidden" asp-for="FinancialMental" value="" />

            <input id="$a3" type="hidden" asp-for="Etc" value="" />

            <div class="row text-center">

                <div id="$q1a1" class="card bg-success homebutton m-3"><h1 class="text-center pt-5">Teen</h1></div>
                <div id="$q2a1" class="card bg-danger homebutton m-3" style="display:none"><h1 class="text-center pt-5">Financial Support</h1></div>
                <div id="$q3a1" class="card bg-warning homebutton m-3" style="display:none"><h1 class="text-center pt-5">Etc A</h1></div>

                <div id="$q1a2" class="card bg-secondary homebutton m-3"><h1 class="text-center pt-5">Young adult</h1></div>
                <div id="$q2a2" class="card bg-primary homebutton m-3" style="display:none"><h1 class="text-center pt-5">Mental Support</h1></div>
                <div id="$q3a2" class="card bg-info homebutton m-3" style="display:none"><h1 class="text-center pt-5">Etc B</h1></div>



            </div>
        </form>
    </div>
</div>
<br />
<br />
<hr />
<br />
<article style="float:right; position:relative; right:100px; width:900px; border:double; border-radius:20px; padding:15px;">
    Within this website we hope you'll find resources to help you in your journey. Journey to survival, journey to self-fulfillment.
    Wherever you are on the path we're here to serve. Listed below are the most practical resources.
    We wanted a seperate section for these because physiological and saftey needs be met before we can move on to needs associated with
    love, esteem, and self-actualization.
</article>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<section class="jumbotron">
    <h3 style="text-align:center;">Additional Resources</h3>
    <hr />
    <article style="float:right; position:relative; right:150px;">
        <h5>
            <u>Saftey</u>
        </h5>
        <br />
        <ul>
            <li><a href="https://www.lookingglass.us/station-7">Runaway and Homeless Shelter</a></li>
            <li><a href="https://www.lookingglass.us/new-roads">Housing and Education</a></li>
            <li><a href="https://safefamilieslanecounty.org/resources/lane-county-resources/">Safe Place Resources</a></li>
        </ul>
    </article>
    <article style="float:left; position:relative; left:150px">
        <h5><u>Physiological Needs</u></h5>
        <br />
        <ul>
            <li><a href="https://www.lanekids.org/10-local-food-resources-for-families-you-might-not-know-about/">Food Resources</a></li>
            <li><a href="https://www.lanecounty.org/cms/one.aspx?pageId=9773412">Heating and Energy Assistance</a></li>
            <li><a href="https://www.hoseayouth.org/drop-in-center/">Laundry/Showers/Day use for homeless teens</a></li>
        </ul>
        <br />
    </article>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>
<br />
<br />
<br />

<script>

    var homeForm = document.getElementById($homeform);
    var q1a1 = document.getElementById("$q1a1");
    var q1a2 = document.getElementById("$q1a2");

    var q2a1 = document.getElementById("$q2a1");
    var q2a2 = document.getElementById("$q2a2");

    var q3a1 = document.getElementById("$q3a1");
    var q3a2 = document.getElementById("$q3a2");

    var answer1Element = document.getElementById("$a1");
    var answer2Element = document.getElementById("$a2");
    var answer3Element = document.getElementById("$a3");

    var answer1Value;
    var answer2Value;
    var answer3Value;

    q1a1.onclick = this.clickQ1A1.bind(this);
    q1a2.onclick = this.clickQ1A2.bind(this);

    q2a1.onclick = this.clickQ2A1.bind(this);
    q2a2.onclick = this.clickQ2A2.bind(this);


    q3a1.onclick = this.clickQ3A1.bind(this);
    q3a2.onclick = this.clickQ3A2.bind(this);


    function clickQ1A1() {
        q1a1.style.display = "none";
        q1a2.style.display = "none";

        q2a1.style.display = "";
        q2a2.style.display = "";
        answer1Value = "Teen";
    }

    function clickQ1A2() {
        q1a1.style.display = "none";
        q1a2.style.display = "none";

        q2a1.style.display = "";
        q2a2.style.display = "";

        answer1Value = "Young Adult";
    }
    //youth/teen
    function clickQ2A1() {
        q2a1.style.display = "none";
        q2a2.style.display = "none";

        q3a1.style.display = "";
        q3a2.style.display = "";

        answer2Value = "Financial ";
    }

    function clickQ2A2() {
        q2a1.style.display = "none";
        q2a2.style.display = "none";

        q3a1.style.display = "";
        q3a2.style.display = "";

        answer2Value = "Mental";
    }
    //youth/teen
    function clickQ3A1() {

        answer3Value = "Etc A";
        formSubmit();
    }

    function clickQ3A2() {

        answer3Value = "Etc V";
        formSubmit();
    }

    function formSubmit() {
        answer1Element.value = answer1Value;
        answer2Element.value = answer2Value;
        answer3Element.value = answer3Value;
        document.getElementById("$homeform").submit();
    }

</script>
