@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your HTML</h1>
</div>
<div>
    <header>
        <h1>Mental Health for Lane Students</h1>
        <h3>Homepage</h3>
        <br>
        <br>
    </header>
    <div>
        <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="page2.html">Physical Health</a></li>
            <li><a href="page3.html">Mental Health</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>

    2020’s Youth - There is no denying that 2020 continues to be a rough year
    with pan-demic related stresses from loneliness, distance learning, and
    financial uncertainty just to name a few. During these difficult times,
    the availability of mental health re-sources is more vital than ever.
    Help connect people with support!Create a project that provides mental
    health and self-care resources for youth and young adults.






    2020’s Youth - There is no denying that 2020 continues to be a rough year
    with pan-demic related stresses from loneliness, distance learning, and
    financial uncertainty just to name a few. During these difficult times,
    the availability of mental health re-sources is more vital than ever.
    Help connect people with support!Create a project that provides mental
    health and self-care resources for youth and young adults.
</div>
