@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <section>
        <h1 "class="title">Homepage</h1>
    </section>
</div>
<br />
<br />
<br />
<h3 style="text-align:center;">Introduction</h3>
<br />
<p>
    There is no denying that 2020 continues to be a rough year
    with pandemic related stresses from loneliness, distance learning, and
    financial uncertainty. During these difficult times,
    the availability of mental health re-sources is more vital than ever.
    This website is designed to help connect youth and young adults with mental
    health and self-care resources.
</p>
<br />
<br />
<br />
<h3 style="text-align:center;">Resources</h3>

