@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <section>
        <h1 "class="title">Homepage</h1>
    </section>
</div>
<br />
<br />
<br />
<h3 style="text-align:center;">Introduction</h3>
<br />
<p>
    There is no denying that 2020 continues to be a rough year
    with pandemic related stresses from loneliness, distance learning, and
    financial uncertainty. During these difficult times,
    the availability of mental health re-sources is more vital than ever.
    This website is designed to help connect youth and young adults with mental
    health and self-care resources.
</p>
<br />
<section style="background-color:paleturquoise; padding:20px; border:groove;">
    <h3 style="text-align:center;">Resources</h3>
    <hr />
    <article style="float:right; position:relative; right:150px;">
        <h5>
            <u>Mental Health</u>
        </h5>
        <br />
        <ul>
            <li>link</li>
            <li>link</li>
            <li>link</li>
        </ul>
    </article>
    <article style="float:left; position:relative; left:150px">
        <h5><u>Physical Health</u></h5>
        <br />
        <ul>
            <li>link</li>
            <li>link</li>
            <li>link</li>
        </ul>
        <br />
    </article>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>
<br />
<br />
<br />
<h3 style="text-align:center;">Self-Care</h3>
<br />
<aside style="float:right; border:dashed; border-width:1px; width:250px;">
    <h5><em>What is Self-Care?</em></h5>
    <hr />
    Self care is any activity that we do to deliberately take care of our mental, emotional, and physical health. 
    This could mean:
    <br />
    <br />
    <ul style="list-style-type:square">
        <li>watching a favorite movie</li>
        <li>going for a run</li>
        <li>eating something delicious</li>
    </ul> 
    Self-care is vast and really 
    comes down to practicing self-compassion and feeling good.

</aside>
<br />
<br />
<br />
<br />
<br />
<br />
