@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align:center; background-color:lightsteelblue;">The Message</h1>
<br />
<p style="background-color:lavenderblush; text-align:center;">
    Our world is being ravaged by climate change, assalted by a pandemic and overthrown for the sake of social justice.
    Our youth stands as the generation that may know the most turmoil of our lifetimes. The burdens of the world are too
    much to bear on one set of shoulders. However, as each of us are a piece of the world our ability to change it lies
    within our ability to change ourselves. In a time faced with the most trying of circumstances we are also armed
    with a movement of embracing mental health, of knowledge and understanding of the human psyche. To weather the
    changes of the new world we must align ourselves with science, compassion, and personal growth.
</p>
<br />
<hr />
<br />
<article style="float:right; position:relative; right:100px; width:900px; border:double; border-radius:20px; padding:15px;">
    Within this website we hope you'll find resources to help you in your journey. Journey to survival, journey to self-fulfillment.
    Wherever you are on the path we're here to serve. Listed below are some practical links for food, finances, houseing etc.
    We begin with these because physiological and saftey needs must first be met before we can move on to needs associated with
    love, esteem, and self-actualization.
</article>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<section class="jumbotron">
    <h3 style="text-align:center;">Resources</h3>
    <hr />
    <article style="float:right; position:relative; right:150px;">
        <h5>
            <u>Saftey</u>
        </h5>
        <br />
        <ul>
            <li><a href="https://www.lookingglass.us/station-7">Runaway and Homeless Shelter</a></li>
            <li><a href="https://www.lookingglass.us/new-roads">Housing and Education</a></li>
            <li><a href="https://safefamilieslanecounty.org/resources/lane-county-resources/">Safe Place Resources</a></li>
        </ul>
    </article>
    <article style="float:left; position:relative; left:150px">
        <h5><u>Physiological Needs</u></h5>
        <br />
        <ul>
            <li><a href="https://www.lanekids.org/10-local-food-resources-for-families-you-might-not-know-about/">Food Resources</a></li>
            <li><a href="https://www.lanecounty.org/cms/one.aspx?pageId=9773412">Heating and Energy Assistance</a></li>
            <li><a href="https://www.hoseayouth.org/drop-in-center/">Laundry/Showers/Day use for homeless teens</a></li>
        </ul>
        <br />
    </article>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>
<br />
<br />
<br />
