@model HomeForum
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="jumbotron-fluid">

    <h1>Get the right resources for you</h1><form id="$homeform" asp-controller="Home" asp-action="Generated" method="post">

        <input id="$a1" type="hidden" asp-for="TeenYA" value="" />
        <input id="$a2" type="hidden" asp-for="FinancialMental" value="" />

        <input id="$a3" type="hidden" asp-for="Etc" value="" />
        <div class="col-6">

            <div id="$q1a1" class="card bg-success">Teen</div>
            <div id="$q2a1" class="card bg-danger" style="display:none">Financial Support</div>
            <div id="$q3a1" class="card bg-warning" style="display:none"> Etc A </div>

        </div>

        <div class="col-6">
            <div class="text-center">
                <div id="$q1a2" class="card bg-secondary"> Young adult </div>

                <div id="$q2a2" class="card bg-primary" style="display:none"> Mental Support </div>
                <div id="$q3a2" class="card bg-info" style="display:none"> Etc B </div>

            </div>
        </div>


    </form>

</div>

<script>

    var homeForm = document.getElementById($homeform);
    var q1a1 = document.getElementById("$q1a1");
    var q1a2 = document.getElementById("$q1a2");

    var q2a1 = document.getElementById("$q2a1");
    var q2a2 = document.getElementById("$q2a2");

    var q3a1 = document.getElementById("$q3a1");
    var q3a2 = document.getElementById("$q3a2");

    var answer1Element = document.getElementById("$a1");
    var answer2Element = document.getElementById("$a2");
    var answer3Element = document.getElementById("$a3");

    var answer1Value;
    var answer2Value;
    var answer3Value;

    q1a1.onclick = this.clickQ1A1.bind(this);
    q1a2.onclick = this.clickQ1A2.bind(this);

    q2a1.onclick = this.clickQ2A1.bind(this);
    q2a2.onclick = this.clickQ2A2.bind(this);


    q3a1.onclick = this.clickQ3A1.bind(this);
    q3a2.onclick = this.clickQ3A2.bind(this);


    /*
        q1a1.onclick = this.clickQ1A1.bind(this);
        q1a2.onclick = this.clickQ1A1.bind(this);

        q2a1.onclick = this.clickQ1A1.bind(this);
        q2a2.onclick = this.clickQ1A1.bind(this);
        */



    //youth/teen
    function clickQ1A1() {
        q1a1.style.display = "none";
        q1a2.style.display = "none";

        q2a1.style.display = "";
        q2a2.style.display = "";
        answer1Value = "Teen";
    }

    function clickQ1A2() {
        q1a1.style.display = "none";
        q1a2.style.display = "none";

        q2a1.style.display = "";
        q2a2.style.display = "";

        answer1Value = "Young Adult";
    }
    //youth/teen
    function clickQ2A1() {
        q2a1.style.display = "none";
        q2a2.style.display = "none";

        q3a1.style.display = "";
        q3a2.style.display = "";

        answer2Value = "Financial Support";
    }

    function clickQ2A2() {
        q2a1.style.display = "none";
        q2a2.style.display = "none";

        q3a1.style.display = "";
        q3a2.style.display = "";

        answer2Value = "Mental Support";
    }
    //youth/teen
    function clickQ3A1() {

        answer3Value = "Etc A";
        console.log("ppppppp");
        formSubmit();
    }

    function clickQ3A2() {

        answer3Value = "Etc V";
        console.log("aaaaaaaaaa");
        formSubmit();
    }

    function formSubmit() {
        answer1Element.value = answer1Value;
        answer2Element.value = answer2Value;
        answer3Element.value = answer3Value;
        document.getElementById("$homeform").submit();
    }

    /*
     *             <div id="$q2" class="card-columns" style="display:none">
                <button style="display:none" class="card bg-light">
                    Q3 A
                </button>

                <button style="display:none" class="card bg-dark">
                    Q3 B
                </button>
            </div>
    function clickQ1A1() {
        q1a1.style.display = "none";
        q1a2.style.display = "none";

        q2a1.style.display = "";
        q2a2.style.display = "";
    }

    function clickQ1A2() {
        q1a1.style.display = "none";
        q1a2.style.display = "none";

        q2a1.style.display = "";
        q2a2.style.display = "";
        console.log("testest2");

    }
    function clickQ2A1() {
        q2a1.style.display = "none";
        q2a2.style.display = "none";

        q3a1.style.display = "";
        q3a2.style.display = "";

    }
    function clickQ2A2() {
        q2a1.style.display = "none";
        q2a2.style.display = "none";

        q3a1.style.display = "";
        q3a2.style.display = "";

    }*/
</script>
